body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

/* Light Theme */
body.light {
  background-color: rgb(234, 234, 234);
  color: black;
}

/* Dark Theme */
body.dark {
  background-color: #1a202c;
  color: white;
}
